body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  overflow: hidden;
}

canvas.app {
  display: block;
}

div.debug.file-select {
  position: absolute;
  top: 0;
  left: 0;
}

div.debug.file-select label {
  display: block;
}